.loginPage {
}
.loginAnnimation {
}
.parent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideImg {
  height: 400px;
  width: 400px;
  overflow: hidden;
}
.sideFig {
  height: 400px;
  width: 400px;
  object-fit: cover;
}
.sidePic {
  height: 100%;
  width: 100%;
}
.login {
  width: 360px;
  min-height: 400px;
  margin: 0 auto;
  /* background-color: pink; */
  /* background-color: var(--color-grey-2); */
  background-color: #fff;
  color: var(--color-blue);
  transform: translatey(150px);
  border-radius: 11px;
  /* background-image: url(../../public/login.jpg); */
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.login h1 {
  text-align: center;
  text-transform: capitalize;
  padding-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  color: var(--color-blue);
  /* border-bottom: 1px solid var(--color-blue); */
}
.login form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.login div {
  /* background-color: purple; */
  width: 80%;
  height: 60px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  position: relative;
  /* margin: 0 auto; */
}
.login div label {
  width: 70%;
  font-size: 1rem;
  text-transform: capitalize;
  /* align-items: flex-start; */
  align-self: self-start;
  color: #fff;
  color: var(--color-blue);
  /* background-color: pink; */
}
.login div input {
  width: 70%;
  height: 90%;
  outline: none;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid var(--color-black);
  transition: all 0.3s;
}
.login div input:hover {
  border: 1px solid var(--color-blue);
}
.login div p {
  position: absolute;
  font-size: 10px;
  bottom: -25%;
  left: 15%;
  color: var(--color-red);
  /* transform: translatex(-50%); */
}
.login form button {
  width: 80%;
  height: 40px;
  transition: all 0.3s;
  overflow: hidden;
  font-size: 1.4rem;
  text-transform: capitalize;
  border: none;
  border-radius: 7px;
  background-color: var(--color-blue);
  color: #fff;
  transition: all 0.3s;
}
.login form button:hover {
  cursor: pointer;
  background-color: var(--color-red);
}
.login h3 {
  display: block;
  width: 80%;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid var(--color-black);
}
.login a:link,
a:visited,
a:active {
  text-decoration: none;
  color: aliceblue;
  display: block;
  width: 80%;
  text-align: center;
  margin-top: 10px;
  font-size: 1.4rem;
  transition: all 0.3s;
  /* transform-origin: 50%; */
}
.login a:hover {
  color: var(--color-blue);
  /* border-bottom: 1px solid var(--color-blue); */
}
@media only screen and (max-width: 500px) {
  .login {
    width: 400px;
  }
}
@media only screen and (max-width: 310px) {
  .login {
    width: 280px;
    transform: translateY(60px);
  }
}
