.attraction {
  /* background-color: purple; */
  color: var(--color-blue);
  display: flex;
  min-height: 10rem;
  /* border: 1px solid var(--color-blue); */
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 80%;
  padding: 1rem;
  /* background-color: #fff; */
  /* margin: auto; */
}
.imgBox {
  /* background-color: yellowgreen; */
  padding: 0;
}
.imgBox figure {
  height: 8rem;
  width: 12rem;
  overflow: hidden;
  border-radius: 12px;
  padding: 0;
}
.imgBox figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
  cursor: pointer;
  padding: 0;
}
.imgBox figure img:hover {
  transform: scale(1.2);
}
.contentBox {
  display: flex;
  flex-direction: column;
  /* background-color: #fff; */
  /* padding: 0.5rem */
  /* background-color: paleturquoise; */
  padding: 0;
}
.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.meta div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.meta div span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-red);
}

.contentBox h3 {
  color: var(--color-black);
}
.description {
  color: var(--color-black);
  font-size: 0.8rem;
  /* background-color: #fff; */
}
.contentBox button {
  align-self: flex-end;
  padding: 5px 10px;
  color: white;
  background-color: var(--color-blue);
  border-radius: 9px;
  transition: all 0.3s;
  border: 1px solid transparent;
  text-transform: capitalize;
  margin-top: 0.5rem;
}
.contentBox button:hover {
  background-color: var(--color-red);
  cursor: pointer;
}
.icon {
  color: var(--color-red);
  padding: 0;
  font-size: 1rem;
}
