.cityDetails {
  padding: 10px;
  /* border-radius: var(--border-radius-lg); */
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.067);
  /* border: 3px solid var(--color-black); */

  /* flex-basis: 60%; */
  background-color: #fff;
  height: 100%;
  width: 80%;
  overflow: scroll;
  color: black;
  /* position: relative; */
}
.heading {
  text-align: center;
  text-transform: capitalize;
  font-size: var(--font-size-md);
  height: 53.5px;
  border-bottom: 1px solid black;
  /* padding-left: 30px; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 40%; */
  /* width: 60%; */
  z-index: 100;
  background-color: #fff;
  /* background-color: pink; */
}
.abc {
  /* transform: translateY(10px); */
  /* border-left: 1px solid var(--color-black); */
}

:global(.leaflet-popup-content-wrapper) {
  /* background-color: purple; */
  /* padding: 3px; */
  transition: all 0.3s;

  animation: popup 0.3s ease-in;

  transform-origin: bottom;
  margin: 0;
  padding: 0;
}

:global(.leaflet-popup-content) {
  /* background-color: purple; */
  border-left: 3px solid var(--color-blue);
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  /* font-size: 0.6rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
:global(.leaflet-popup-content span) {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
}
@keyframes popup {
  0% {
    transform: scale(0.2);
  }
  100% {
    /* transform: scale(1.3); */
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    /* transform: scale(1.3); */
    opacity: 1;
  }
}

:global(.leaflet-popup-content div) {
  /* font-size: 0.6rem; */
}
:global(.leaflet-popup-tip) {
  animation: popup 0.3s ease-in;
}

:global(.leaflet-container a.leaflet-popup-close-button) {
  color: var(--color-blue);
  font-size: 1rem;
  /* not working for some reason */
}
:global(.leaflet-marker-icon) {
  animation: fadeIn 0.3s ease-in;
  transform-origin: bottom;
  /* box-shadow: none; */
}
:global(.leaflet-control-zoom) {
  padding: 0;
  margin: 0;
}
:global(.leaflet-control-zoom-in) {
  padding: 0;
}
:global(.leaflet-control-zoom-out) {
  padding: 0;
}
:global(.leaflet-left) {
  display: none;
}
