.form {
  background-color: whitesmoke;
  border-radius: var(--border-radius-md);
  padding: 0;
  margin: 0;
  height: 4rem;
  display: flex;
  align-items: center;
}
.form div {
  margin-left: 10px;
}
.form div label {
  text-transform: capitalize;
  font-size: 0.8rem;
}
.form div input {
  outline: none;
  padding: 3px;
}
.form button {
  padding: 5px 10px;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid var(--color-blue);
  border-radius: var(--border-radius-md);
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.form button:hover {
  color: #fff;
  background-color: var(--color-blue);
}
@media only screen and (max-width: 320px) {
  .form {
    flex-direction: column;
  }
  .form button {
    margin-top: 5px;
    margin-right: 10px;
  }
}
