.review {
  width: 90%;
  /* align-self: flex-start; */
  min-height: 150px;
  border: 1px solid black;
  border-radius: var(--border-radius-sm);
  /* background-color: yellowgreen; */
  background-color: var(--color-grey-1);
  background-color: whitesmoke;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin-top: 0;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.review:hover {
  cursor: pointer;
  background-color: var(--color-grey-2);
  transition: all 0.3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.reviewAutor {
  text-transform: capitalize;
}
.reviewInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.fig {
  padding: 0;
  margin: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.fig img {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.review button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  border-radius: var(--border-radius-md);
  text-transform: capitalize;
}
.btns {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.btns button {
  width: 7rem;
  cursor: pointer;
  /* border: 2px solid transparent; */
  transition: all 0.3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.btns button:hover {
  /* border: 2px solid var(--color-white); */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(3px);
}
.reviewContent {
  font-size: 1rem;
}
