.tags {
  cursor: pointer;
  transition: all 0.3s;
  padding: 0 5px;
  color: white;
  font-weight: 700;
  border-radius: var(--border-radius-sm);
  opacity: 0.3;
}
.blue {
  background-color: var(--color-blue);
  color: white;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  text-transform: capitalize;
  opacity: 0.6;
  padding: 10px;
}
.red {
  background-color: var(--color-red);
  color: white;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  text-transform: capitalize;
  opacity: 0.6;
  padding: 10px;
}
.green {
  background-color: var(--color-green);
  color: white;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  text-transform: capitalize;
  opacity: 0.6;
  padding: 10px;
}
@media only screen and (max-width: 500px) {
  .tags {
    padding: 0 3px;
  }
  .blue {
  }
  .green {
  }
  .red {
  }
}
@media only screen and (max-width: 310px) {
  .tags {
    padding: 0 2px;
    font-size: 6px;
  }
  .green {
    /* padding: 0 2px; */
    font-size: 6px;
  }
}
